$version4: #002B5B;
$version3: #2B4865;
$version2: #256D85;
$version1: #8FE3CF;
$white: #ffffff;
$gray: #f7f7f7;

$fntSizeExxxSm: 12px;
$fntSizeExSm: 14px;
$fntSizeSm: 16px;
$fntSizeMd: 20px;
$fntSizeLg: 30px;
$fntSizeELg: 40px;

