@use '../../style/var&mixin/mymixin';
@use '../../style/var&mixin/myvar';

.containerRecoveryPassword{
    width: 100%;
    max-width: 320px;
    height: 100%;
    @include mymixin.objectsPosition(flex, column, nowrap, center, center);
}

.containerRecoveryPassword__h3{
    @include mymixin.LinkTextForm(myvar.$version4, myvar.$fntSizeMd, center);
}

.containerRecoveryPassword__p{
    font-size: myvar.$fntSizeSm;
    color: myvar.$version3;
    text-align: center;
    width: 90%;
}

.containerRecoveryPassword .containerRecoveryPassword__p{
    margin-top: 15px;
    margin-bottom: 30px;
}

.containerRecoveryPassword__email{
    width: 100%;
    margin-bottom: 30px;
}


.containerRecoveryPassword-backToLogin a{
    @include mymixin.LinkTextForm(
        myvar.$version3,
        myvar.$fntSizeSm,
        100%,
    );
}