@use '../../style/var&mixin/mymixin';
@use '../../style/var&mixin/myvar';

.containerCreateAccount{
    width: 100%;
    max-width: 320px;
    height: 100%;
    @include mymixin.objectsPosition(flex, column, nowrap, center, center);
}

.containerCreateAccount__h3{
    width: 100%;
    @include mymixin.LinkTextForm(myvar.$version4, myvar.$fntSizeMd, left);
    margin-bottom: 40px;
}

.containerCreateAccount__name{
    width: 100%;
    margin-bottom: 30px;
}

.containerCreateAccount__email{
    width: 100%;
    margin-bottom: 30px;
}

.containerCreateAccount__password{
    width: 100%;
    margin-bottom: 30px;
}